<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada de archivos -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <img src="../../resources/img/index.png" class="mx-auto d-block" width="200">
        <!-- Formulario para iniciar sesión -->
        <form class="d-none" id="loginForm">
            <div class="row g-3">
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <label for="alias" class="form-label">Alias</label>
                    <input id="alias" type="text" name="alias" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input id="clave" type="password" name="clave" class="form-control" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Enviar</button>
                </div>
            </div>
        </form>
        <!-- Formulario para crear el primer usuario -->
        <form class="d-none" id="signupForm">
            <div class="row g-3">
                <div class="col-sm-12 col-md-6">
                    <label for="nombresUsuario" class="form-label">Nombres</label>
                    <input id="nombresUsuario" type="text" name="nombresUsuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="apellidosUsuario" class="form-label">Apellidos</label>
                    <input id="apellidosUsuario" type="text" name="apellidosUsuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="correoUsuario" class="form-label">Correo</label>
                    <input id="correoUsuario" type="email" name="correoUsuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="aliasUsuario" class="form-label">Alias</label>
                    <input id="aliasUsuario" type="text" name="aliasUsuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="claveUsuario" class="form-label">Contraseña</label>
                    <input id="claveUsuario" type="password" name="claveUsuario" class="form-control" required>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                    <input id="confirmarClave" type="password" name="confirmarClave" class="form-control" required>
                </div>
                <div class="text-center">
                    <button type="reset" class="btn btn-secondary"><i class="bi bi-x-square"></i> Cancelar</button>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
                </div>
            </div>
        </form>
    </main>
    <!-- Importación de archivos JavaScript -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/admin/index.js"></script>
</body>

</html>