<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Título del documento -->
    <title>Dashboard - Editar perfil</title>
    <!-- Optimización de la página web para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada de archivo como icono -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/icons.css">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/dashboard.css">
</head>

<body>
    <!-- Encabezado del documento -->
    <header></header>
    <!-- Contenido principal del documento -->
    <main class="container">
        <!-- Título del contenido principal -->
        <h3 class="center-align">Editar perfil</h3>
        <!-- Formulario para cambiar datos personales -->
        <form class="row" method="post" id="profile-form">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">person</i>
                <input id="nombres" type="text" name="nombres" class="validate" required>
                <label for="nombres">Nombres</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">person</i>
                <input id="apellidos" type="text" name="apellidos" class="validate" required>
                <label for="apellidos">Apellidos</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input id="correo" type="email" name="correo" class="validate" required>
                <label for="correo">Correo</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">person_pin</i>
                <input id="alias" type="text" name="alias" class="validate" required>
                <label for="alias">Alias</label>
            </div>
            <div class="col s12 center-align">
                <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Guardar">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </form>
        <!-- Contenedor con enlace para abrir la caja de diálogo del formulario de cambiar constraseña -->
        <div class="center">
            <a onclick="openPassword()" class="btn waves-effect indigo tooltipped" data-tooltip="Cambiar contraseña">
                <i class="material-icons">key</i>
            </a>
        </div>
        <!-- Componente Modal para mostrar una caja de diálogo -->
        <div id="password-modal" class="modal">
            <!-- Enlace para cerrar el componente Modal -->
            <p class="right">
                <a class="black-text tooltipped modal-close" data-tooltip="Cerrar">
                    <i class="small material-icons">close</i>
                </a>
            </p>
            <!-- Contenido del componente Modal -->
            <div class="modal-content">
                <!-- Título para la caja de diálogo -->
                <h4 class="center-align">Cambiar contraseña</h4>
                <!-- Formulario para actualizar contraseña -->
                <form class="row" method="post" id="password-form">
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">security</i>
                        <input id="actual" type="password" name="actual" class="validate" required>
                        <label for="actual">Contraseña actual</label>
                    </div>
                    <div class="col s12 center-align">
                        <label>CONTRASEÑA NUEVA</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">security</i>
                        <input id="nueva" type="password" name="nueva" class="validate" required>
                        <label for="nueva">Contraseña</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">security</i>
                        <input id="confirmar" type="password" name="confirmar" class="validate" required>
                        <label for="confirmar">Confirmar contraseña</label>
                    </div>
                    <div class="col s12 center-align">
                        <button type="reset" class="btn waves-effect grey tooltipped" data-tooltip="Reiniciar">
                            <i class="material-icons">autorenew</i>
                        </button>
                        <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Guardar">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Pie del documento -->
    <footer class="page-footer"></footer>
    <!-- Importación de archivos JavaScript -->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/profile.js"></script>
</body>

</html>