<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Título del documento -->
    <title>Dashboard - Administrar usuarios</title>
    <!-- Optimización de la página web para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada de archivo como icono -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/icons.css">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/dashboard.css">
</head>

<body>
    <!-- Encabezado del documento -->
    <header></header>
    <!-- Contenido principal del documento -->
    <main class="container">
        <!-- Título del contenido principal -->
        <h3 class="center-align">Administrar usuarios</h3>
        <div class="row">
            <!-- Formulario de búsqueda -->
            <form method="post" id="search-form">
                <div class="input-field col s6 m4">
                    <i class="material-icons prefix">search</i>
                    <input id="search" type="text" name="search" required>
                    <label for="search">Buscador</label>
                </div>
                <div class="input-field col s6 m4">
                    <button type="submit" class="btn waves-effect green tooltipped" data-tooltip="Buscar">
                        <i class="material-icons">check</i>
                    </button>
                </div>
            </form>
            <div class="input-field center-align col s12 m4">
                <!-- Enlace para abrir una caja de diálogo al momento de crear un nuevo registro -->
                <a onclick="openCreate()" class="btn waves-effect indigo tooltipped" data-tooltip="Crear">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>

        <!-- Tabla para mostrar los registros existentes -->
        <table class="highlight">
            <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
            <thead>
                <tr id="records"></tr>
                <tr>
                    <th>APELLIDOS</th>
                    <th>NOMBRES</th>
                    <th>CORREO</th>
                    <th>ALIAS</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tbody-rows"></tbody>
        </table>

        <!-- Componente Modal para guardar un registro -->
        <div id="save-modal" class="modal">
            <!-- Enlace para cerrar el componente Modal -->
            <div class="row right">
                <a class="black-text tooltipped modal-close" data-tooltip="Cerrar">
                    <i class="small material-icons">close</i>
                </a>
            </div>
            <!-- Contenido del componente Modal -->
            <div class="modal-content">
                <!-- Título para la caja de diálogo -->
                <h4 id="modal-title" class="center-align"></h4>
                <!-- Formulario para crear o actualizar un registro -->
                <form class="row" method="post" id="save-form">
                    <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                    <input class="hide" type="number" id="id" name="id">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person</i>
                        <input id="nombres" type="text" name="nombres" class="validate" required>
                        <label for="nombres">Nombres</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person</i>
                        <input id="apellidos" type="text" name="apellidos" class="validate" required>
                        <label for="apellidos">Apellidos</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">email</i>
                        <input id="correo" type="email" name="correo" class="validate" required>
                        <label for="correo">Correo</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="alias" type="text" name="alias" class="validate" required>
                        <label for="alias">Alias</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">security</i>
                        <input id="clave" type="password" name="clave" class="validate" required>
                        <label for="clave">Clave</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">security</i>
                        <input id="confirmar" type="password" name="confirmar" class="validate" required>
                        <label for="confirmar">Confirmar clave</label>
                    </div>
                    <div class="col s12 center-align">
                        <button type="submit" class="btn waves-effect blue tooltipped" data-tooltip="Guardar">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Pie del documento -->
    <footer class="page-footer"></footer>
    <!-- Importación de archivos JavaScript -->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/account.js"></script>
    <script type="text/javascript" src="../../controllers/dashboard/usuarios.js"></script>
</body>

</html>