<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Codificación de caracteres para el documento -->
    <meta charset="utf-8">
    <!-- Título del documento -->
    <title>CoffeeShop - Productos por categoría</title>
    <!-- Optimización de la página web para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Llamada de archivo como icono -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Importación de archivos CSS -->
    <link rel="stylesheet" href="../../resources/css/icons.css">
    <link rel="stylesheet" href="../../resources/css/materialize.min.css">
    <link rel="stylesheet" href="../../resources/css/public.css">
</head>

<body>
    <!-- Encabezado del documento -->
    <header></header>
    <!-- Contenido principal del documento -->
    <main class="container">
        <!-- Título del contenido principal -->
        <h4 class="center indigo-text" id="title"></h4>
        <!-- Fila para mostrar los productos disponibles -->
        <div class="row" id="productos"></div>
    </main>
    <!-- Pie del documento -->
    <footer class="page-footer"></footer>
    <!-- Importación de archivos JavaScript -->
    <script type="text/javascript" src="../../resources/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/account.js"></script>
    <script type="text/javascript" src="../../controllers/public/articles.js"></script>
</body>

</html>