<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!-- Tabla para mostrar el detalle de los productos agregados al carrito de compras -->
        <table class="table table-striped">
            <!-- Cabeza de la tabla para mostrar los títulos de las columnas -->
            <thead>
                <tr>
                    <th>PRODUCTO</th>
                    <th>PRECIO (US$)</th>
                    <th>CANTIDAD</th>
                    <th>SUBTOTAL (US$)</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
            <tbody id="tableBody"></tbody>
        </table>
        <!-- Párrafo para mostrar el monto total a pagar -->
        <p class="text-end">TOTAL A PAGAR (US$) <b id="pago"></b></p>
        <!-- Párrafo para mostrar un botón que finaliza el pedido -->
        <p class="text-end">
            <button type="button" class="btn btn-primary" onclick="finishOrder()">
                <i class="bi bi-credit-card-fill"></i> Finalizar pedido
            </button>
        </p>
        <!-- Párrafo para mostrar un enlace a la página web principal -->
        <p class="text-end">
            <a href="index.html" class="btn btn-success">
                <i class="bi bi-cart-fill"></i> Seguir comprando
            </a>
        </p>
        <!-- Componente Modal para mostrar una caja de diálogo -->
        <div class="modal fade" id="itemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Cambiar cantidad</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar cantidad -->
                    <form id="itemForm">
                        <div class="modal-body row">
                            <input type="hidden" id="idDetalle" name="idDetalle">
                            <div class="col-sm-12">
                                <label for="cantidadProducto" class="form-label">Cantidad</label>
                                <input id="cantidadProducto" type="number" name="cantidadProducto" min="1" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/cart.js"></script>
</body>

</html>