<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle"></h4>
        <!-- Formulario para crear cuenta -->
        <form class="row g-3" id="signupForm">
            <!-- Campo oculto para asignar el token del reCAPTCHA -->
            <input type="hidden" id="gRecaptchaResponse" name="gRecaptchaResponse">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="nombreCliente" class="form-label">Nombre</label>
                <input type="text" id="nombreCliente" name="nombreCliente" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="apellidoCliente" class="form-label">Apellido</label>
                <input type="text" id="apellidoCliente" name="apellidoCliente" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="correoCliente" class="form-label">Correo electrónico</label>
                <input type="email" id="correoCliente" name="correoCliente" maxlength="100" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="duiCliente" class="form-label">DUI</label>
                <input type="text" id="duiCliente" name="duiCliente" placeholder="00000000-0" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="telefonoCliente" class="form-label">Teléfono</label>
                <input type="text" id="telefonoCliente" name="telefonoCliente" placeholder="0000-0000" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="nacimientoCliente" class="form-label">Nacimiento</label>
                <input type="date" id="nacimientoCliente" name="nacimientoCliente" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="claveCliente" class="form-label">Contraseña</label>
                <input type="password" id="claveCliente" name="claveCliente" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                <input type="password" id="confirmarClave" name="confirmarClave" class="form-control" required>
            </div>
            <div class="col-sm-12 col-lg-8 offset-lg-2">
                <label for="direccionCliente" class="form-label">Dirección</label>
                <input type="text" id="direccionCliente" name="direccionCliente" maxlength="250" class="form-control" required>
            </div>
            <div class="form-check d-flex justify-content-center">
                <input type="checkbox" class="form-check-input" id="condicion" name="condicion" required>
                <label class="form-check-label" for="condicion">Acepto términos y condiciones</label>
            </div>
            <div class="text-center">
                <button type="reset" class="btn btn-secondary"><i class="bi bi-x-square-fill"></i> Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="bi bi-person-fill"></i> Registrar</button>
            </div>
        </form>
        <!-- Inclusión de la librería de mascaras. Para más información https://github.com/text-mask/text-mask -->
        <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
        <!-- Inclusión de la librería del reCAPTCHA. Para más información https://developers.google.com/recaptcha/docs/v3 -->
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=6LdBzLQUAAAAAJvH-aCUUJgliLOjLcmrHN06RFXT"></script>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/signup.js"></script>
</body>

</html>